.container {
    width: 75%;
    margin: 3rem auto;
}

.word-section {
    border: 1px solid black;
    padding: 1rem;
}

.timer-section {
    text-align: center;
}

.input-section {
    display: block;
    margin: 7rem auto;
    text-align: center;
}

.input-section input {
    width: 70%;
    padding: 1rem;
    font-size: 1rem;
}

.word {
    display: inline-block;
    margin: .2rem;
}